---
import header from '../../../data/common/_images/header.svg';
---

<header 
	id="header-content" 
	class=`
		absolute
		w-full
		h-full

		flex
		justify-center
		items-center
		
		text-sm 2xl:text-lg 3xl:text-xl 4xl:text-3xl

		bg-black
		text-white

	`>
	<nav 
		id="nav" 
		class=`
		
			w-full
			max-w-[94%]
			
			flex
			flex-col
			md:flex-row
			justify-between
			items-start
			md:items-center

			uppercase
			underline-offset-4

			z-20
			transition-all
			duration-300
			ease-in-out
		`>

		<!-- LINKS -->
		<div 
			id="links" 
			class="
			flex-grow
			text-left
			md:text-center
			pl-4
			md:pl-0
		">
			<!-- links are inserted here -->
		</div>
	</nav>
	<img 
	id="header-bg"
	src={header.src}
	alt="header"
	class="
		absolute
		-z-20
		hidden
		md:block
		object-cover
		w-full
	">
</header>

<script>
	import { BIO_NAV_LINKS } from "../../../consts";

	const isLinkActive = (href: string) => {
		const pathname = window.location.pathname;
		const subpath = pathname.match(/[^\/]+/g);
		return href === pathname || href === '/' + subpath?.[0];
	};
  
	const renderLinks = (links: any[]) => {
		const navLinks = document.getElementById('links');

		navLinks!.innerHTML = '';

		const linksWrapper = document.createElement('div');
		linksWrapper.className = 'flex md:justify-center flex-col md:flex-row gap-x-0 lg:gap-x-2 xl:gap-x-6 py-2';

		links.forEach(link => {
			const isActive = isLinkActive(link.href);
			const activeClass = isActive ? 'underline' : '';
			const linkElement = `<a href="${link.href}" class="px-2 ${activeClass} hover:underline">${link.label}</a>`;
			linksWrapper.insertAdjacentHTML('beforeend', linkElement);
		});

		// Insert the wrapper into the nav
		navLinks!.appendChild(linksWrapper);

  	};

	document.addEventListener('DOMContentLoaded', () => {
		renderLinks(BIO_NAV_LINKS);
	});
</script>


