---
import Layout from "../../layouts/Layout.astro";
import Main from "../global/Main.astro";
import Chapter from './Chapter.astro';
import Header from "../global/Header.astro";

import common from '../../data/biography/common.json'

const pathname = Astro.url.pathname.split('/').filter(Boolean)
const slug = pathname.length > 1 ? pathname[pathname.length - 1] : ''; 
const currentPage = common.find(chapter => chapter.id === slug);

---

<Layout title={currentPage!.title}>
    <Chapter chapterImage={currentPage!.image}/>
    <header class="header-wrapper sticky top-0 z-50 w-2/3 mx-auto">
        <Header />
    </header>
    <Main bgColor={currentPage!.bgColor}>
        <slot />
    </Main>
</Layout>