---
import activities from '../../data/biography/_images/chapters/activities.svg';
import epilogue from '../../data/biography/_images/chapters/epilogue.svg';
import expeditions from '../../data/biography/_images/chapters/expeditions.svg';
import family from '../../data/biography/_images/chapters/family.svg';
import junost from '../../data/biography/_images/chapters/junost.svg';
import museum from '../../data/biography/_images/chapters/museum.svg';

const images : any = {
    activities,
    epilogue,
    expeditions,
    family,
    junost,
    museum
};


interface Props {
    chapterImage: string;
};

const {chapterImage} = Astro.props;
const imageSrc = images[chapterImage]?.src || '';

---
<div id="fade" class="absolute top-0 left-0 w-full h-full bg-black z-10 pointer-events-none opacity-100 transition-opacity duration-1000 ease-out"></div>
<section class="flex items-center justify-center w-full h-screen bg-black">
    <img src={imageSrc} alt={chapterImage} class="max-w-full h-auto px-8 md:px-0" />
</section>

<script>
    window.addEventListener('load', () => {
    document.getElementById('fade')!.classList.remove('opacity-100');
    document.getElementById('fade')!.classList.add('opacity-0');
});
</script>