---
import ScrollArrow from "../../components/global/ScrollArrow.astro";
import { getCurrentChapter } from "../../utils/currentChapter.astro";
const currentChapter = getCurrentChapter(Astro);

interface Props {
  section?: string;
  hover?: boolean;
}

const { section, hover } = Astro.props;
---

<section id="chapter-intro" class="relative max-h-screen w-full">
  <div
    class="transform-all flex h-screen w-full items-center justify-center bg-chapter-tile bg-[length:125px_125px] duration-1000 ease-in-out"
  >
    <ScrollArrow
      position="absolute bottom-6 transform -translate-x-1/2"
      size="w-[75%] mx-auto"
      color="text-white"
      redirectUrl={section}
      hover={hover}
    />
    {
      currentChapter ? (
        <img
          src={currentChapter.src}
          alt={currentChapter.alt}
          class="h-auto max-w-[80%] 2xl:max-w-full"
        />
      ) : (
        <p class="text-white">Глава не найдена</p>
      )
    }
  </div>
</section>

<!-- <script>
  // SCROLL FADE CHAPTER OBSERVER
  const scrollArrow = document.querySelector("#scroll-arrow") as HTMLElement;
  const introSection = document.querySelector("#chapter-intro") as HTMLElement;

  const introObserver = new IntersectionObserver(
    (entries) => {
      entries.forEach((entry) => {
        if (entry.target.id === "chapter-intro") {
          if (entry.isIntersecting) {
            scrollArrow.classList.add("opacity-100");
          } else {
            scrollArrow.classList.remove("opacity-100");
          }
        }
      });
    },
    { threshold: [0.5, 0.7] },
  );

  introObserver.observe(introSection);
</script> -->
