---
import ScrollArrow from "../../components/global/ScrollArrow.astro";
import { getCurrentChapter } from "../../scripts/currentChapter";
const currentChapter = getCurrentChapter(Astro);

interface Props {
  section?: string;
  hover?: boolean;
}

const { section, hover } = Astro.props;
---

<section id="chapter-intro" class="relative max-h-screen w-full">
  <div
    class="transform-all flex h-screen w-full items-center justify-center bg-chapter-tile bg-[length:125px_125px] duration-1000 ease-in-out"
  >
    {
      currentChapter ? (
        <img
          src={currentChapter.src}
          alt={currentChapter.alt}
          class="h-auto max-w-[80%] pb-[10vh] lg:pb-0 2xl:max-w-full"
        />
      ) : (
        <p class="text-white">Глава не найдена</p>
      )
    }
    <ScrollArrow
      position="absolute bottom-[10vh] lg:bottom-6 inset-x-0"
      size="w-[75%] mx-auto"
      color="text-white"
      redirectUrl={section}
      hover={hover}
    />
  </div>
</section>
