---
import Layout from "../../layouts/Layout.astro";
import BgWrapper from "../global/BgWrapper.astro";

import { getCurrentChapter } from "../../utils/currentChapter.astro";
const currentChapter = getCurrentChapter(Astro);
---

<Layout title={currentChapter!.alt}>
  <BgWrapper bgColor={`${currentChapter!.id}`}>
    <!-- <div class="border-4 border-orange-500"> -->
    <slot />
    <!-- </div> -->
  </BgWrapper>
</Layout>

<!-- <script src="../../utils/slowScroll"></script> -->
