@import url(./font.css);

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply 3xl:text-3xl 4xl:text-4xl 5xl:text-5xl;
    @apply 3xl:leading-loose;
  }

  main,
  .page-wrapper {
    @apply 3xl:gap-y-10 4xl:gap-y-12 5xl:gap-y-16;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Casus Pro", serif;
  margin: 0;
  padding: 0;
  text-align: left;
  font-size: 20px;
}
