@import url(./font.css);

@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base {
   html {
      @apply 2xl:text-xl 3xl:text-2xl 4xl:text-3xl 5xl:text-5xl;
   }
} */

.no-scrollbar::-webkit-scrollbar {
  display: none;   /* Chrome, Safari and Opera */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Casus Pro", serif;
  margin: 0;
  padding: 0;
  text-align: left;
  font-size: 20px;
}