---
import Layout from "../layouts/Layout.astro";
import Main from "../components/global/Main.astro";
---

<Layout title="Не найдена">
  <Main bgColor="">
    <div
      class="section flex h-screen w-full flex-col items-center justify-center text-center text-white"
    >
      <p class="text-4xl">Этой страницы не существует или она была удалена.</p>
      <br />
      <p>
        Перейти <a href="/" class="text-junost underline-offset-4 hover:underline">в начало →</a>
      </p>
    </div>
  </Main>
</Layout>
