---
import Layout from "../layouts/Layout.astro";
import Main from "../components/global/Main.astro";

---

<Layout>
    <Main bgColor="bg-white">
		<div class="flex flex-col justify-center items-center text-black text-center">
			<p class="text-6xl">ИНТРО</p>
		</div> 
    </Main>
</Layout>