---
import ScrollArrow from "../../components/global/ScrollArrow.astro";
import BioWrapper from "../../components/biography/BioWrapper.astro";
import HeaderWrapper from "../../components/global/header/HeaderWrapper.astro";
import Section from "../../components/global/Section.astro";
import Chapter from "../../components/biography/Chapter.astro";


---

<BioWrapper>
    <!-- Scroll Arrow -->
    <ScrollArrow />

    <!-- Chapter Intro -->
    <Chapter />

    <HeaderWrapper />

    <Section id="empty-expeditions">

    </Section>

</BioWrapper>