---
import BioWrapper from "../../components/biography/BioWrapper.astro";
import HeaderWrapper from "../../components/global/header/HeaderWrapper.astro";
import Section from "../../components/global/Section.astro";
import Chapter from "../../components/biography/Chapter.astro";
import ScrollArrow from "../../components/global/ScrollArrow.astro";


---

<BioWrapper>
    <!-- Chapter Intro -->
    <Chapter />

    <HeaderWrapper />

    <!-- Archeology Text -->
    <Section id="archeology-text">
        <div class="flex justify-center items-center text-4xl leading-normal font-semibold h-full px-[5%]">
            <p>
                Окончив университет со степенью кандидата в 1845 году, поступил на службу в Министерство иностранных дел. По окончании университета, параллельно службе, Уваров увлекся археологией.
            </p>
        </div>
    </Section>

    
</BioWrapper>
