<footer
  class="decoration-none mx-auto w-full bg-body px-4 py-24 text-center text-base text-white lg:text-2xl"
>
  <div class="flex items-center justify-center gap-x-2">
    <a
      href="https://soranja.dev/"
      target="_blank"
      rel="noopener noreferrer"
      class="hover:text-yellow-400">IVAN ZAKHAROV</a
    >
    <span>&copy; 2024</span>
  </div>
</footer>
