<div
  id="lottie-container"
  class="fixed left-0 top-0 z-1000 flex h-screen w-full items-center justify-center bg-[#111]"
>
  <lottie-player
    src="/loading.json"
    background="transparent"
    speed="2"
    style="width: 100px; height: 100px; filter: invert(1);"
    direction="1"
    mode="normal"
    loop
    autoplay
  >
  </lottie-player>
</div>

<script src="../../scripts/loading.ts"></script>
