---
interface Props {
    bgColor: string
};

const { bgColor } = Astro.props;
const bgColors : any = {
    body: "bg-body",
    junost: "bg-junost-bg",
    expeditions: "bg-expeditions-bg",
    family: "bg-family-bg",
    activities: "bg-activities-bg",
    museum: "bg-museum",
    epilogue: "bg-epilogue",
    materials: "bg-materials",
    white: "bg-white",
    }
---

<main class={`${bgColors[bgColor]} bg-fixed bg-center bg-cover bg-no-repeat mx-auto `}>
        <slot />
</main>

<script>
    // window.onbeforeunload = function () {
    //     window.scrollTo(0, 0);
    // };
</script>