---
interface Props {
    bgColor: string
};

const { bgColor } = Astro.props;
const bgColors : any = {
    body: "bg-body",
    junost: "bg-junost",
    expeditions: "bg-expeditions",
    family: "bg-family",
    activities: "bg-activities",
    museum: "bg-museum",
    epilogue: "bg-epilogue",
    materials: "bg-materials",
    white: "bg-white",
    }
---

<main class={`${bgColors[bgColor]} mx-auto w-full max-w-full`}>
        <slot />
</main>

