---
import Layout from "../../layouts/Layout.astro";
import Main from "../../components/global/Main.astro";

---

<Layout title="Аудио">
    <Main bgColor="bg-materials">
        Аудио
    </Main>
</Layout>